extends layout

block content
  if locals.currentUser
    div.user-greet
      p Hello #{locals.currentUser.fullName} , welcome to #{title}, your membership status is #{locals.currentUser.membershipStatus} 
        a(href=locals.currentUser.url + "/logout") Log out
    
    div.write-message
      div.login-box
        h3 Write A Message
        form(method="POST", action="/catalog/message")
            div.user-box
                label(for="message") Message
                input(type='text' name='message' required='true' placeholder='It was a sunny day...')
                input(type='hidden',name='userId', required='true', value=user._id )
            button.btn(type='submit') Submit
      
    if locals.currentUser.membershipStatus === "Member"
      div.user-greet
        a(href=locals.currentUser.url + "/club-member") Become a club member to see authors and dates.
      div(class="messages")
        each message in messages 
          div(class="message")
            p #{message.message}
            p #[Strong Author: ] Become a clup member to see author.
            p #[Strong Date: ] Become a clup member to see date.
    if locals.currentUser.membershipStatus === "Club Member"
      div(class="user-greet")
        a(href=locals.currentUser.url + "/admin") Become an admin to delete messages.
      div(class="messages")
        each message in messages 
          div(class="message")
            p #{message.message}
            p #[Strong Author: ] #{message.user.fullName}
            p #[Strong Date: ] #{message.date}
    if locals.currentUser.membershipStatus === "Admin"
      div(class="messages")
        each message in messages 
          div(class="message")
            p #{message.message}
            p #[Strong Author: ] #{message.user.fullName}
            p #[Strong Date: ] #{message.date}
            form(method='POST' action= message.url)
              div.user-box
                input(type='hidden',name='messageId', required='true', value=message._id )
                button.btn.btn-primary(type='submit') Delete Message
  else
    div.user-greet
      p Hello visitor , welcome to #{title}.
      p If you already a member, 
        a(href= "/catalog/login") Log in 
      p Become a member to write messages, 
        a(href= "/catalog/signup") Sign up 
    div(class="messages")
      each message in messages 
        div(class="message")
          p #{message.message}
          p #[Strong Author: ] Become a clup member to see author.
          p #[Strong Date: ] Become a clup member to see date.
      
  
  
